jaclang
jac-cloud
jac-streamlit
requests
streamlit-ace
streamlit-autorefresh
websockets
byllm
langchain
langchain-community
langchain-openai
langchain-chroma
chromadb
openai
pypdf
tree-sitter
tree_sitter_python
